.aboutPanel {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutInnerPanel {
    width: calc(100% - 160px);

    margin: 40px 80px;
    padding-top: 40px;
    padding-bottom: 40px;

    background: rgba(255, 241, 241, 0.048);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.bioTitlePanel {
    height: 200px;
    width: calc(100% - 40px);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bioPortrait {
    height: 100%;
    width: 200px;

    background-image: url("/img/profile.jpg");
    background-size: 200px;
    border-radius: 5px;
    box-shadow: -8px 8px 5px rgb(36, 35, 35);
}

.bioTitle {
    height: 100%;
    width: calc(100% / 2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.bioName {
    font-size: 60px;
}

.bioOccupation {
    font-size: 30px;
    color: white;
}

.mediaPanel {
    height: 120px;
    width: 400px;
    
    border-radius: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mediaButton {
    height: 80px;
    width: 80px;

    /* TODO: replace placeholder styling with social media icons */
    background: black;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bioBody {
    width: 80%;

    font-size: 20px;
    color: white;
}

.aboutDivider {
    height: 2px;
    width: 70%;

    margin-top: 40px;
    margin-bottom: 40px;

    background: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
}